* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.timeline-section {
  //   background-color: black;
  min-height: 100vh;
  padding: 100px 15px;
}

.timeline-items {
  /* background-color: #24292d; */
  color: white;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  position: relative;
  /* border: solid 1px red; */

  &::before {
    content: "";
    position: absolute;
    background-color: rgb(149, 0, 255);
    width: 2px;
    height: 100%;
    left: calc(50% - 1px);
  }
}

.timeline-item {
  /* border: solid 1px red; */
  /* background-color: #24292d; */
  margin-bottom: 40px;

  &:nth-child(odd) {
    text-align: right;
    padding-right: calc(50% + 30px);
  }

  &:nth-child(even) {
    text-align: left;
    padding-left: calc(50% + 30px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.timeline-content {
  //   background-color: black;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  box-shadow: -1px -1px 6px rgb(149, 0, 255), 1px 1px 6px rgb(149, 0, 255);
}

.timeline-dot {
  width: 16px;
  height: 16px;
  background-color: rgb(149, 0, 255);
  position: absolute;
  left: calc(50% - 8px);
  /* top: 10px; */
  border-radius: 50%;
}

.timeline-date {
  font-size: 16px;
  color: rgb(149, 0, 255);
  font-weight: 600;
  margin: 0px 0 15px;
}

.timeline-content h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}

.timeline-content p {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

@media screen and (max-width: 550px) and (min-width: 421px) {
  .timeline-content {
    width: 400px;
  }

  .timeline-item:nth-child(odd) {
    padding-left: 37px;
    text-align: left;
  }

  .timeline-item:nth-child(even) {
    padding-left: 37px;
    text-align: left;
  }

  .timeline-item {
    width: 100%;
  }

  .timeline-items::before {
    left: 7px;
  }

  .timeline-dot {
    left: 0;
  }
}

@media screen and (max-width: 420px) and (min-width: 300px) {
  .timeline-content {
    width: 240px;
  }

  .timeline-item:nth-child(odd) {
    padding-left: 37px;
    text-align: left;
  }

  .timeline-item:nth-child(even) {
    padding-left: 37px;
    text-align: left;
  }

  .timeline-item {
    width: 100%;
  }

  .timeline-items::before {
    left: 7px;
  }

  .timeline-dot {
    left: 0;
  }
}

@media screen and (max-width: 285px) and (min-width: 100px) {
  .timeline-content {
    width: 100px;
  }

  .timeline-item:nth-child(odd) {
    padding-left: 37px;
    text-align: left;
  }

  .timeline-item:nth-child(even) {
    padding-left: 37px;
    text-align: left;
  }

  .timeline-item {
    width: 100%;
  }

  .timeline-items::before {
    left: 7px;
  }

  .timeline-dot {
    left: 0;
  }
}
